.journalDetailsContainer {
    margin-top: 5rem;

    background-color: white;
    padding:3rem 1rem 1rem 1rem ;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 80%;
    height: 60%;
    max-height: 80%;
    overflow-y: auto;

}

.journalDetailsContent {
    margin-top: 1rem;
}

.journalTitle {
 border-radius: 20px;
    margin: 2rem;

    font-size: 1.5rem;
    font-weight: bold;
    white-space: initial;
    
}

.journalBody {
  
    max-height: 16vh;
    margin-bottom: 4rem;
;

}

.commentsComponent{
    margin-top: 2rem;
    max-height: 30vh;

}