.journalDetailsContainer {
    margin-top: 5rem;
    background-color: white;
    padding:1rem;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 80%;
    max-height: 89vh;

}

.journalDetailsContent {
    margin-top: 1rem;
}

.journalTitle {
 border-radius: 20px;
    margin: 2rem;

    font-size: 1.5rem;
    font-weight: bold;
    white-space: initial;
    
}

.journalBody {
    overflow-y: scroll;
    max-height: 16vh;
    margin-bottom: 2rem;
;

}

.commentsComponent{
    margin-top: 1.5rem;
    overflow-y: scroll;
    max-height: 30vh;

}