.profileContainer {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 3rem;
  border-radius: 3em;
  width: 70%;




  }

  .profileContent {

  }