#journalTitleRow {
    
}

#journalTitleRow:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    
}

#userRow:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}