#journalTitleRow {
    
}

#journalTitleRow:hover {
    color: #5CBFC6;
    text-decoration: underline;
    cursor: pointer;
    
}

#userRow:hover {
    color: #5CBFC6;
    text-decoration: underline;
    cursor: pointer;
}