/******CAROUSEL CSS***************/
.swiper {
    width: 100vw;
    height: 100vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 20px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-button-prev {
    color: #FFFF; 
}

.swiper-button-next {
    color: #FFFF; 
}

.swiper-pagination-bullet-active {
    background-color: #FFFF !important;
}



/******************************LOGOUT CAROUSEL*****************/
.loginWindow {
    margin-bottom: 6rem;
}

.infoContainer {
   
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 50%;
    height:50%;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    font-size: 1rem;
}

.infoHeader {
margin: 5rem 0 1rem 0
}
.infoBody {
margin: 3rem;
}

.infoContainer1 {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height:90%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    font-size: 1rem;
    
}

.infoHeader1 {
    margin: 1rem;
    margin-top: 3rem;
    }

.infoBody1 {
    margin: 2rem;
}

/******************************LOGIN CAROUSEL*****************/

.infoContainerLogin {
   
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 45%;
    height:50%;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    font-size: 1rem;
}

.infoHeaderLogin {
margin: 3rem 0 1rem 0
}
.infoBodyLogin {
margin: 3rem;
}

.infoContainer1Login {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 45%;
    height:90%;
    flex-direction: column;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 10rem;
}

.infoHeader1Login {
    margin: 1rem;

    }

.infoBody1Login {
    margin: 2rem;
}