.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background: rgb(118, 181, 197);
  font-weight: bold;
  font-size: 1em;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction: row;
  border: 0 !important;
  background-color: transparent !important;
}

.cardEach {
  margin: 20px;
  width: min-content;
  background-color: bisque !important;
}
