body {
  background-image: url("https://img.freepik.com/free-vector/summer-nature-landscape-background_53876-101102.jpg?w=996&t=st=1649226970~exp=1649227570~hmac=e9cd273fec17989fae31c11aef87779f5db8d5aafd3f24ba55b674401067463f");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
